* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    width: clamp(0px, 90%, 900px);
    margin: 0 auto;
    background-color: #1c1c2b;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    color: #ffffff;
}

h1 {
    text-align: center;
    color: #e76f51;
    padding: 2rem;
}

.search-container {
    display: flex;
    margin-bottom: 20px;
}

#busqueda {
    width: clamp(0px, 100%, 700px);
    padding: 10px;
    margin: 0 auto;
    border: 1px solid #e76f51;
    border-radius: 8px;
    background-color: #262637;
    color: #e76f51;
}
#busqueda:focus {
    outline: none;
    box-shadow: 0px 0px 8px #ff5656;
}
#main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
    flex-grow: 1;
    margin: 1rem auto;
    width: clamp(0px, 100%, 1000px)
}

.loading {
    text-align: center;
    color: #e76f51;
    padding: 1rem;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% { opacity: 0.6; }
    50% { opacity: 1; }
    100% { opacity: 0.6; }
}

.anime-cover {
    width: 300px;
    height: 450px;
    object-fit: cover;
    background-color: #262637;
    transition: opacity 0.3s ease;
}

.anime-card {
    background-color: #262637;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.4);
    padding: 10px;
    text-align: center;
    transition: transform 0.3s;
}
@media screen and (hover:hover) {
.anime-card:hover {
    transform: scale(1.04);
}
.anime-card button:hover {
    transform: scale(1.02);
}
}
.anime-card img {
    max-width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
}
.anime-card iframe {
    max-width: 100%;
    width: 100%;
}
strong {
    color: #fff;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-line-clamp: 2;
    -moz-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: .8rem;
    line-height: 1.05rem;
    max-height: 2.1rem;
}
.anime-card button {
    width: 100%;
    border-radius: 8px;
    background-color: #ff5656;
    color: white;
    border: none;
    padding: 10px;
    transition: background-color 0.3s, transform 0.2s;
    cursor: pointer;
}

.anime-card button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

/* Estilos específicos para anime.html */
.anime-details {
    display: flex;
    align-items: start;
    gap: 30px;
    width: 1000px;
    margin: 1rem auto;
    padding: 20px;
    height: calc(100dvh - 2rem);
    background-color: #262637;
    border-radius: 10px;
    overflow: hidden;
}

.anime-container {
    flex: 1;
    display: flex;
    padding: 1.5rem;
    flex-direction: column;
    align-items: center;
    background-color: #1f1f33;
    border-radius: 10px;
    height: 100%;
    overflow: hidden;
}
.anime-container img {
    border-radius: 10px;
    aspect-ratio: 1/1;
    object-fit: cover;
    height: auto;
    width: 100%;
    max-height: 220px;
}
.anime-description {
    line-height: 1.6;
    color: #ffffff;
    margin: 15px auto;
    text-align: justify;
    height: 22rem;
    overflow: scroll;
    scrollbar-width: none;
}
.anime-info {
    flex: 1;
    background-color: #1f1f33;
    border-radius: 10px;
}

.anime-title {
    font-size: 2em;
    color: #ffffff;
    display: flex;
    align-items: center;
    min-height: 140px;
    max-height: 140px;
}



#filtro-capitulo {
    width: 100%;
    padding: 7px;
    margin: 0 auto 2rem;
    border: 2px solid #fa7171;
    border-radius: 8px;
    background-color: #262637;
    color: #ffffff;
    font-size: 1.2rem;
    transition: border-color 0.3s, box-shadow 0.3s;
}
#filtro-capitulo:focus {
    outline: none;
    box-shadow: 0px 0px 8px #ff5656;
}
.episodes-list {
    margin: 15px auto;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 100%;
    max-height: 350px;
    overflow-x: auto;
    scroll-behavior: smooth;
}

/* Para navegadores WebKit (Chrome, Safari) */
.episodes-list::-webkit-scrollbar {
    width: 10px;
    height: 8px;
}

.episodes-list::-webkit-scrollbar-track {
    background: transparent;
}

.episodes-list::-webkit-scrollbar-thumb {
    background-color: rgba(255, 86, 86, 0.5);
    border-radius: 20px;
    border: 2px solid transparent;
    background-clip: content-box;
}

.episodes-list li {
    width: 100%;
}
.episode-btn {
  background-color: transparent;
  border:none;
  border-top: 1px solid #fa7171;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 10px;
  margin: 10px 0;
  cursor: pointer;
  transition: transform 0.2s;
  width: 100%;
  
}
@media screen and (hover:hover) {
.episode-btn:hover {
    color: #ff5656;
}
}

footer {
    padding: 10px;
    color: #555;
    text-align: right;
    margin-top: auto;
    font-size: .8rem;
}
@media (max-width: 768px) {
    .anime-details {
        flex-direction: column;

    }
    .anime-details {
        max-height: fit-content;
    }
    
}

#controles {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px 0;
}
#controles {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px 0;
}

.controles-servidores {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 15px 0;
}

#controles button, .controles-servidores .boton-servidor {
    background-color: #ff5656;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s;
    margin: 0 5px;
}

#controles button.servidor-activo, .controles-servidores .boton-servidor.servidor-activo {
    background-color: #4CAF50;
    transform: scale(1.1);
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

@media screen and (hover:hover) {
    #controles button:hover, .controles-servidores .boton-servidor:hover {
        transform: scale(1.02);
    }
}

.reproductor-container {
    padding: 15px;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto;
    width: 90%;
    max-width: 1600px;
    background-color: #262637;
    border-radius: 10px;
}

.reproductor-container #video iframe {
    width: 100%;
    height: 70vh;
    border-radius: 10px;
}

.btn-volver {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: rgba(255, 86, 86, 0.7);
    color: #262637;
    text-decoration: none;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 2rem;
    transition: all 0.3s ease;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    padding-right: 4px;
    padding-bottom: 4px; /* Compensar desplazamiento visual */
}

.btn-volver:hover {
    background-color: rgba(255, 86, 86, 1);
    transform: scale(1.1);
    box-shadow: 0 6px 8px rgba(0,0,0,0.2);
}
