h2 {
    font-size: 2rem;
}
.btn-filtro, #btn-filtrar, .btn-filtro-opcion {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;   
    padding: 10px;
    border-radius: 5px;
    background-color: #181b2ecc;
    color: #ccc;
    border: none;
}
main {
    flex-direction: column;
    margin-block: 1rem;
    flex: 1;
}

h1 {
    font-size: clamp(1.5rem, 3vw, 2rem);
}
nav {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-block: 1rem;
    width: fit-content;
}
.filtro-section {
    position: relative;
    display: flex;
    flex:1 1 0;
}
.btn-filtro, #btn-filtrar {
    width: fit-content;
    cursor: pointer;
    position: relative;
    min-width: 156px;
    flex:1 1 0;
}
.btn-filtro::after {
    content: "▼";
}
.btn-filtro.active {
    background-color: #e76f51;
    color: #fff;
}
.btn-filtro.active::after {
    transform: rotate(180deg);
}
.btn-filtro span {
    color: #fff;
}
.btn-filtro img {
    width: 12px;
}
#btn-filtrar {
    background-color: #e76f51;
    color: #fff;
}
.filtro-opciones {
    position: absolute;
    top: 25px;
    background-color: #181b2e;
    box-shadow: 2px 10px 30px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    z-index: 1000;
    overflow-y: auto;
    will-change: transform;
    opacity: 0;
    padding: 10px;
    pointer-events: none;
    transition: opacity .2s ease, transform .3s ease, height .3s ease;
    transform: translateY(-35px) scale(.8);
    max-height: calc(100dvh - 230px);
    overflow-y: auto;
    overflow-x: hidden;
    min-width: 100%;
}

@media screen and (max-width: 688px) {
   #filtro-tipo {
        right: 0;
    }
}
@media screen and (max-width: 513px) {
   #filtro-ano {
        right: 0;
    }
}
.filtro-opciones.active {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0) scale(1);
}
.filtro-opciones ul {
    display: grid;
    gap: 5px;
    min-width: 110px;
    width: 100%;
}

#filtro-genero ul {
    grid-template-columns: repeat(auto-fill, 120px);
    max-width: min(500px, calc(95vw - 20px));
}
#filtro-ano ul {
    grid-template-columns: repeat(auto-fill, 62px);
    max-width: min(262px, calc(95vw - 157px));
}

.filtro-opciones ul li {
    list-style: none;
}
.btn-filtro-opcion {
    width: 100%;
    cursor: pointer;
    transition: background 0.3s ease;
    max-height: 35px;
    padding: 5px 15px;
    font-size: .8rem;
    background-color: transparent;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
}
.btn-filtro-opcion:hover {
    background-color: #4d4d4d;
    color: #fff;
    opacity: 1;
}
.btn-filtro-opcion.active {
    background-color: #e76f51;
}
    
#resultados {
    flex: 1;
    position: relative;
    width: 100%;
}
.container-img img {
    aspect-ratio: 3/5;
}


/*sidebar*/

#menu-toggle {
    display: block;
  }
  body {
    position: relative;
  }
  .sidebar {
    position: absolute;
    top: 88px;
    margin: 0;
    transform: translateX(-100%);
    left: 0;
    gap: 1rem;
    padding: 1rem;
    background: #181b2edd;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    color: #fff;
    z-index: 1000;
    height: calc(100% - 88px);
  }
  @media screen and (max-width: 600px) {
    .sidebar {
        height: 100dvh;
    }
  }
  .sidebar ul a {
  text-decoration: none;
  color: #fff;
  }
  
  .sidebar.active {
    transform: translateX(0);
  }

  #pagination {
    display: flex;
    gap: 10px;
    margin-block: 30px;
    padding: 5px;
    width: 100%;
    max-width: 614px;
    margin-inline: auto;
    overflow-y: auto;
    scroll-snap-type: x mandatory;
  }
  #pagination::-webkit-scrollbar {
    height: 8px;
}

  .page-button {
    scroll-snap-align: center;
    padding: 8px 16px;
    border-radius: 5px;
    background-color: #181b2e;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
    box-shadow: 0 0 10px lab(23.52% 0 0 / 0.26);
  }

  .page-button:hover {
    background-color: #e76f51;
    transform: translateY(-2px);
  }

  .page-button.active {
    background-color: #e76f51;
    font-weight: bold;
    box-shadow: 0 0 5px rgba(231, 111, 81, 0.5);
  }