h2 {
  font-size: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-height: fit-content;
  text-shadow: 2px 2px 10px #000a;
}

main {
  display: flex;
  height: calc(100dvh - 112px);
}
@media screen and (max-height:600px){
  main {
    height: 100vh;
  }
}

main section {
  
  background-color: #383874;
}

main section:nth-child(1) {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.botones-reproductor {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
    "btn-anterior btn-siguiente"
    "btn-anuncios btn-anuncios"
    "btn-censura btn-censura";
}

.btn-anterior {
  grid-area: btn-anterior;
}
.btn-siguiente {
  grid-area: btn-siguiente;
}
.btn-anuncios {
  grid-area: btn-anuncios;
}
.btn-censura {
  grid-area: btn-censura;
}