.ver-mas-btn {
    display: block;
    background-color: var(--btn);
    color: var(--t1);
    border: none;
    max-height: 40px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    padding: 10px 20px;
    grid-column: -2 / -1;
    align-self: end;
  }
  
  .ver-mas-btn:hover {
    filter: brightness(1.1);
  }
  

  #menu-toggle {
    display: none;
  }

.sidebar {
  height: var(--altura-main);
}
@media screen and (max-width: 600px) {
    #menu-toggle {
      display: inline-block;
    }
    .sidebar {
      height: calc(100vh - 88px);
    }
  }