body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 101vh;
    background-image: inherit;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: blur(10px) brightness(0.8);
    opacity: calc(-0.3 * var(--f) + 1.3);
    transform: scale(1.1);
    z-index: -2;
  }

body {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: overlay;
    position: relative;
  }

body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 101vh;
    background: linear-gradient(to bottom, transparent 0%, var(--b) 80%);
    pointer-events: none;
    z-index: -2;
  }
header {
  background: transparent;
  border: none;
}
#busqueda {
  background-color: #00000011;
}

.anime-details {
  display: grid;
  grid-template-columns: minmax(200px, 20%) minmax(0, calc(80% - 25px));
  grid-template-rows: 177px auto auto;
  grid-template-areas: 
    "container1 container2"
    "container1 container3"
    "container4 container4";
  gap: 25px;
  height: fit-content;
  margin-bottom: 25px;
}

.anime-container1 {
  display: flex;
  flex-direction: column;
  background-color: var(--p);
  border-radius: 5px;
  padding: .6rem;
  max-height: fit-content;
  grid-area: container1;
  position: relative;
  width: 100%;
}
  
.anime-container1 img {
  border-radius: 5px;
  width: 100%;
  height: auto;
  object-fit: contain;
  aspect-ratio: 26/37;
}
  
.botones {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: 
    "fav fav"
    "estado progreso";
  gap: 10px;
  margin-top: 10px;
  width: 100%;
}
  
.botones button {
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: var(--t1);
  transition: background 0.3s ease;
  max-height: 35px;
  }

#btn-fav {
  grid-area: fav;
  background: #5a131aad;
  transition: background 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: relative;
  overflow: hidden;
}

#btn-fav.favorito {
  background: #fb3447; 
}

.aparecer::before {animation: aparecer 0.4s}
.desaparecer::before {animation: desaparecer 0.4s}

@keyframes desaparecer {
  0% {opacity: 1; transform: translateY(0) scale(1);}
  100% {opacity: 0; transform: translateY(-20px) scale(3);}
}
@keyframes aparecer {
  0% {opacity: 0; transform: translateY(-20px) scale(3);}
  100% {opacity: 1; transform: translateY(0) scale(1);}
}

#btn-fav.favorito::before {
  content: url('../icons/star-solid.svg');
  width: 16px;
  height: 15px;
  display: block;
}
#btn-fav.favorito:hover::before {
  filter: brightness(.8);
}
#section-estados {
  grid-area: estado;
  position: relative;
}
#btn-estado {
  width: 100%;
  background: rgba(var(--bgt), .3);
  color: var(--t1);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  z-index: 8;
}

#btn-estado span {
  display: flex;
  align-items: center;
  gap: 5px;
  max-width: 120px;
  justify-content: center;
}

#btn-estado img {
  width: 17px;
  height: 17px;
  filter: invert(100%);
}
#Estados {
position: absolute;
top: 100%;
left: 0;
border-radius: 5px;
display: flex; 
gap: 5px;
padding-top: 15px;
z-index: 8;
opacity: 0;
pointer-events: none;
transition: transform .3s, opacity .3s;
transform: translateY(-10px);
}
button:hover {
  opacity: 1;
}
@media (hover: hover) {
  #Estados:hover, #btn-estado:hover + #Estados {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }
}

#Estados.active {
opacity: 1;
pointer-events: auto;
transform: translateY(0);
}
#Estados button{
  display: flex;
  gap: 5px;
  align-items: center;
  transition: background 0.3s ease;
  background-color: var(--p);
  box-shadow: 3px 3px 20px rgb(var(--bgt),.2);
}

#Estados button.active {
  color: var(--t1);
  border-radius: 5px;
}

#Estados button:hover::after {
transform: translateY(-20%);
}
  /* Estados del botón */
#btn-estado.estado-default {
  background: rgba(var(--bgt), .3);
}

#Estados button::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: var(--t1);
  pointer-events: none;
  transition: transform .2s;
}

#btn-viendo.active {
  background: #22cee9;
}

#btn-viendo::after {
  -webkit-mask: url('../icons/eye-solid.svg') no-repeat center;
  mask: url('../icons/eye-solid.svg') no-repeat center;
}

#btn-pendiente.active {
  background: #ffc107;
}

#btn-pendiente::after {
  background-color: var(--t1);
  -webkit-mask: url('../icons/clock-solid.svg') no-repeat center;
  mask: url('../icons/clock-solid.svg') no-repeat center;
}

#btn-visto.active {
  background: #00c853;
}

#btn-visto::after {
  background-color: var(--t1);
  -webkit-mask: url('../icons/circle-check-solid.svg') no-repeat center;
  mask: url('../icons/circle-check-solid.svg') no-repeat center;
}

#btn-progreso {
  grid-area: progreso;
  background: rgba(var(--bgt), .3);

  position: relative;
  --progreso-text: "0%";
  --progreso: 0;
  }
#progreso {
    position: absolute;
    inset: 0;
    width: calc(var(--progreso) * 1%);
    height: 100%;
    background-color: var(--btn);
    border-radius: 5px;
    overflow: hidden;
}
#progreso-text::before {
  content: var(--progreso-text);
    position: absolute;
    inset: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--t1);
}
  .anime-container2 {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    grid-area: container2;
    gap: 7px;
    height: fit-content;
  }

  .info1 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    position: relative;
    gap: 10px;
  }

  .anime-title {
    font-size: 1.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: fit-content;
    max-width: 80%;
    color:var(--btn);
    z-index: 1;
  }
  .anime-rating {
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  
  .anime-rating::before {
    content: "";
    background-image: url('../icons/star-solid.svg');
    background-size: cover;
    width: 19px;
    height: 17px;
    display: inline-block;
  }

  .genero {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    min-height: fit-content;
  }
  
  .genero a {
    background-color: var(--p);
    color: var(--t1);
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    font-size: .8rem;
  }

  .anime-description {
    color: var(--t2);
    font-size: .9rem;
    overflow: auto;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    line-clamp: 5;
}
    
  .anime-container3 {
    grid-area: container3;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 1rem;
    gap: 1rem;
    background-color: var(--p);
    min-height: 166px;
    height: fit-content;
    position: relative;
  }
  .header-caps {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: fit-content;
    overflow: hidden;
  }

#titulo-lista-caps {
  color: var(--btn);
  font-size: 1.3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
  font-weight: bold;
}

.search-caps {
  width: 30%;
}

#filtro-capitulo {
  width: 100%;
  padding: 5%;
  border: 1px solid var(--btn);
  border-radius: 12px;
  background-color: transparent;
  color: var(--t1);
  font-size: .8rem;
  transition: box-shadow 0.3s;
}

#filtro-capitulo:focus {
  outline: none;
  box-shadow: 0px 0px 3px var(--btn);
}

.episodes-list {
  grid-area: episodios;
  margin:auto;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-x: auto;
  scroll-behavior: smooth;
  height: fit-content;
  max-height: 320px;
}

/* Para navegadores WebKit (Chrome, Safari) */
.episodes-list::-webkit-scrollbar, .animes-relacionados::-webkit-scrollbar, .anime-description::-webkit-scrollbar {
  height: 8px;
}
.episodes-list::-webkit-scrollbar-thumb, .animes-relacionados::-webkit-scrollbar-thumb, .anime-description::-webkit-scrollbar-thumb {
  background-color: var(--btn);
  border-radius: 5px;
}

.episodes-list li {
  width: 100%;
  display: flex;
  flex:1 ;
  max-height: 80px;
  min-height: 80px;
}
.episode-btn.ep-visto {
  color: var(--t1);
}
.episode-btn {
  background-color: transparent;
  border:none;
  border-top: 1px solid var(--btn);
  color: var(--t2);
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.2s;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-inline: 15px;
}
.icon-eye {
  width: 25px;
  height: 25px;
  opacity: 0;
}
.ep-visto::after, .ep-no-visto::after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  right: 15px;
  pointer-events: none;
  transform: translateY(-50%);
  -webkit-mask-size: contain;
  mask-size: contain;

}
.ep-visto::after {
  background-color: var(--btn); 
  -webkit-mask: url('../icons/eye-solid.svg') no-repeat center;
  mask: url('../icons/eye-solid.svg') no-repeat center;
 }
.ep-no-visto::after {
  background-color: rgb(var(--bgt),.3); 
  -webkit-mask: url('../icons/eye-slash-solid.svg') no-repeat center;
  mask: url('../icons/eye-slash-solid.svg') no-repeat center;
}
@media screen and (hover:hover) {
.episode-btn:hover {
    color: var(--btn);
    opacity: .8;
}
}
#btn-search-capitulo, #btn-close-search-capitulo {
    display: none;
}
.anime-title-relacionados {
  font-size: 1.6rem;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  color:var(--btn);
  font-weight: bold;
  margin-bottom: 1rem;
}
#relacionados {
display: none;
width: fit-content;
max-width: 1150px;
grid-area: container4;
flex-direction: column;
position: relative;
min-height: 261px;
}

#relacionados .animes-relacionados {
  display: flex;
  gap: 1rem;
  overflow: hidden;
  overflow-x: auto;
  flex-direction: row;
  padding-bottom: 5px;
}
#relacionados .anime-card {
width: 250px;
min-width: 250px;
}
#relacionados .anime-card:hover .relation-tag {
  opacity: 0;
}
#relacionados span.relation-tag {
  position: absolute;
  color: var(--t1);
  font-size: 0.8rem;
  top: 13px;
  left: 12px;
  text-align: center;
}

#relacionados .anime-card div > img:first-of-type {
  height: 130px;
}


 @media screen and (max-width:700px){
  #btn-login {
  box-shadow: 0 0 0 transparent;
}
.anime-details {
  grid-template-columns:30% calc(70% - 25px);
  grid-template-rows: auto auto auto;
  grid-template-areas: 
    "container1 container2"
    "container3 container3"
    "container4 container4";
  max-height: fit-content ;
  gap: 1rem;
}
.anime-container1 {
padding: 0;
max-height: fit-content;
width: 100%;
background: transparent;
}
.anime-container1 img {
width: 100%;
height: auto;
}
.botones {
grid-template-columns: 1fr;
grid-template-rows: 1fr 1fr 1fr;
grid-template-areas: 
"fav"
"estado"
"progreso";
}
#btn-estado {
 padding-inline: 0;
}
.anime-container2 {
width: 100%;
padding: 0;
height: var(--altura-container-1);
}
.info1 {
gap: 5px;
}

.anime-description {
-webkit-line-clamp: 20;
line-clamp: 20;
font-size: .8rem;
line-height: 1.3;
margin-bottom: auto;
padding-bottom: 1px;
}
.anime-title {
font-size: 1.3rem;
max-width: 100%;
}
.anime-rating {
font-size: .8rem;
}
.genero button {
font-size: .7rem;
}
.genero {
  gap: 2px;
}
anime-container3 {
width: 100%;
max-height: 500px;
}
#relacionados {
width: 100%;
    }
    .episodes-list {
      max-height: 410px;
    }
   }
/* Ocultar botones por defecto */
#btn-search-capitulo,
#btn-close-search-capitulo {
  display: none;
}
@media screen and (max-width: 600px) {

  /* Mostrar botones en móvil */
  #btn-search-capitulo,
  #btn-close-search-capitulo {
    display: block;
  }

  .header-caps {
    position: relative;
    overflow: hidden;
    height: 45px;
  }

  /* Elementos normales */
  .header-caps span,
  #btn-search-capitulo {
    transition: transform 0.2s;
    transform: translateY(0);
  }

  /* Cuando se activa búsqueda */
  .header-caps.search-active span,
  .header-caps.search-active #btn-search-capitulo {
    transform: translateY(-40px);
  }
  /* Caja de búsqueda */
  .header-caps .search-caps {
    position: absolute;
    width: 100%;
    height: 94%;
    display: flex;
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    will-change: transform;
  }

  .header-caps.search-active .search-caps {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  /* Estilo botón cerrar */
  #btn-close-search-capitulo {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 10px;
  }

  #btn-close-search-capitulo::before {
    content: '✕';
    color: var(--btn);
    font-size: 1.8rem;
    font-weight: bold;
  }

  /* Input */
  #filtro-capitulo {
    padding: 9px;
  }

  /* Botón lupa */
  #btn-search-capitulo {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

#btn-search-capitulo::before {
  content: '';
  width: 24px;
  height: 24px;
  padding-left: 3px;
  background-color: var(--btn); /* Color del SVG */
  -webkit-mask-size: contain;
  -webkit-mask: url('../icons/magnifying-glass-solid.svg') no-repeat center;
  mask-size: contain;
  mask: url('../icons/magnifying-glass-solid.svg') no-repeat center;
}
}
@media screen and (max-width: 480px) {
  .anime-description { -webkit-line-clamp: 13; line-clamp: 13; }
}
@media screen and (max-width: 460px) {
  .anime-description { -webkit-line-clamp: 12; line-clamp: 12; }
}
@media screen and (max-width: 420px) {
  .anime-description { -webkit-line-clamp: 11; line-clamp: 11; }
}
@media screen and (max-width: 380px) {
  .anime-description { -webkit-line-clamp: 10; line-clamp: 10; }
}
@media screen and (max-width: 330px) {
  .anime-description { -webkit-line-clamp: 8; line-clamp: 8; }
}


.sidebar {
    position: fixed;
    top: 0;
    transform: translateX(-100%);
    padding-top: 88px;
    height: 100vh;
}
.sidebar li {
  padding: 0;
}
.sidebar a {
  padding: 12px 16px;
}