body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: inherit;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: blur(10px) brightness(0.8);
    transform: scale(1.1);
    z-index: -2;
  }

body {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: overlay;
    position: relative;
  }

body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent 0%, #1c1c2b 62%);
    pointer-events: none;
    z-index: -2;
  }


  .anime-details {
    display: grid;
    grid-template-columns: 28% 1fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: 
    "container1 container2"
    "container1 container3";
    gap: 30px;
    margin: 0 auto;
    padding: 20px 60px;
    width: 100%;
    height: calc(100dvh - 112px);
  }
  
  .anime-container1 {
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1c1c2b;
    border-radius: 8px;
    padding: 1rem;
    height: 100%;
    max-height: 600px;
    justify-content: space-between;
    grid-area: container1;
    position: relative;
  }
.anime-container1 img {
    border-radius: 5px;
    width: 100%;
    height: 82%;
}


  .botones {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "estado estado"
    " fav x";
    gap: 10px;
    width: 100%;
    padding-top: 10px;
  }
  .botones button {
    cursor: pointer;
    padding: 5%;
    border-radius: 5px;
    border: none;
    color: #fff;
  }
  #btn-estado {
    grid-area: estado;
    background: #00c853;
  }
  #btn-x {
    grid-area: x;
    background: #0005;
  }
  #btn-fav {
    grid-area: fav;
    background: #fb3447;
  }
 
  



 
  
  .anime-container2, .anime-container3 {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding-inline: 1rem;
  }
  
  .anime-container2 {
    justify-content: start;
  }

  
  .anime-title {
    color: #e76f51;
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    color:#e76f51;
    min-height: fit-content;
  }
  .anime-description {
    color: #fff;
    text-align: justify;
    overflow-y: auto;
    scrollbar-width: none;
}
    
  .anime-container3 {
    justify-content: start;
    overflow-y: auto;
    grid-area: container3;
    
    padding: 1rem;
    background-color: #202031;
  }

  @media (max-width: 600px) {
    .anime-details {
      display: flex;
      flex-direction: column;
    }
  
    .anime-container1,
    .anime-container2,
    .anime-container3 {
      width: 100%;
      max-width: 100%;
    }
  }
  


  
#filtro-capitulo {
    width: 100%;
    padding: 7px;
    margin: 15px auto;
    border: 2px solid #fa7171;
    border-radius: 8px;
    background-color: #262637;
    color: #ffffff;
    font-size: 1.2rem;
    transition: border-color 0.3s, box-shadow 0.3s;
}
#filtro-capitulo:focus {
    outline: none;
    box-shadow: 0px 0px 8px #ff5656;
}
.episodes-list {
    margin:auto;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
    max-height: 50%;
    overflow-x: auto;
    scroll-behavior: smooth;

}

/* Para navegadores WebKit (Chrome, Safari) */
.episodes-list::-webkit-scrollbar {
    width: 10px;
    height: 8px;
}

.episodes-list::-webkit-scrollbar-track {
    background: transparent;
}

.episodes-list::-webkit-scrollbar-thumb {
    background-color: rgba(255, 86, 86, 0.5);
    border-radius: 20px;
    border: 2px solid transparent;
    background-clip: content-box;
}

.episodes-list li {
    width: 100%;
}
.episode-btn {
  background-color: transparent;
  border:none;
  border-top: 1px solid #fa7171;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 18px;
  cursor: pointer;
  transition: transform 0.2s;
  width: 100%;
  
}
@media screen and (hover:hover) {
.episode-btn:hover {
    color: #ff5656;
}
}