body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 101vh;
    background-image: inherit;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: blur(10px) brightness(0.8);
    transform: scale(1.1);
    z-index: -2;
  }

body {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: overlay;
    position: relative;
  }

body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 101vh;
    background: linear-gradient(to bottom, transparent 0%, #1c1c2b 80%, #13131b 100%);
    pointer-events: none;
    z-index: -2;
  }
header {
  background: transparent;
  border: none;
}
#busqueda {
    background-color: #00000011;
}

  .anime-details {
    display: grid;
    grid-template-columns: minmax(200px, 20%) minmax(0, calc(80% - 25px));
    grid-template-rows: 177px auto auto;
    grid-template-areas: 
    "container1 container2"
    "container1 container3"
    "container4 container4";
    gap: 25px;
    height: fit-content;
    overflow: hidden;
  }

  .anime-container1 {
    display: flex;
    flex-direction: column;
    background-color: #1c1c2b;
    border-radius: 5px;
    padding: .6rem;
    max-height: fit-content;
    grid-area: container1;
    position: relative;
    width: 100%;
  }
  
  .anime-container1 img {
    border-radius: 5px;
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  
  .botones {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
      "fav fav"
      "estado progreso";
    gap: 10px;
    margin-top: 10px;
    width: 100%;
  }
  
  .botones button {
    cursor: pointer;
    padding: 10PX;
    border-radius: 5px;
    border: none;
    color: #fff;
    transition: background 0.3s ease;
    max-height: 35px;
  }

  #btn-fav {
    grid-area: fav;
    background: #5a131a;
    transition: background 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  #btn-fav.favorito {
    background: #fb3447; 
  }
  #btn-fav.favorito::before {
    content: url('../icons/star-solid.svg');
    width: 16px;
    height: 15px;
    display: block;
    
  }
  #btn-estado {
    grid-area: estado;
    transition: background 0.3s ease;
    background: #6c757d;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:4px;
    max-width: 100%;
    padding-inline: 5px;
    }
#btn-estado:hover {
    opacity: 1;
    }
  /* Estados del botón */
  #btn-estado.estado-default {
    background: #6c757d; 
  }

  #btn-estado.estado-viendo {
    background: #22cee9;
  }
  #btn-estado.estado-viendo::after {
    content: url('../icons/eye-solid.svg');
    width: 17px;
    height: 17px;
    display: block;
    filter: invert(100%);
  }

  #btn-estado.estado-pendiente {
    background: #ffc107;
  }
  #btn-estado.estado-pendiente::after {
    content: url('../icons/clock-solid.svg');
    width: 17px;
    height: 17px;
    display: block;
    filter: invert(100%);
  }

  #btn-estado.estado-completado {
    background: #00c853;
  }

  #btn-estado.estado-completado::after {
    content: url('../icons/circle-check-solid.svg');
    width: 17px;
    height: 17px;
    display: block;
    
  }
  #btn-progreso {
    grid-area: progreso;
    background: #6c757d;
    position: relative;
    --progreso-text: "0%";
    --progreso: 0;
  }
#progreso {
    position: absolute;
    inset: 0;
    width: calc(var(--progreso) * 1%);
    height: 100%;
    background-color: #59b2ff;
    border-radius: 5px;
    overflow: hidden;
}
#progreso-text::before {
  content: var(--progreso-text);
    position: absolute;
    inset: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
  .anime-container2 {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    grid-area: container2;
    gap: 7px;
    height: fit-content;
  }

  .info1 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    position: relative;
    gap: 10px;
  }

  .anime-title {
    color: #e76f51;
    font-size: 1.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: fit-content;
    max-width: 80%;
    color:#e76f51;
    z-index: 1;
  }
  .anime-rating {
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  
  .anime-rating::before {
    content: "";
    background-image: url('../icons/star-solid.svg');
    background-size: cover;
    width: 19px;
    height: 17px;
    display: inline-block;
  }

  .genero {
    display: flex;
    gap: 5px;
    max-height: fit-content;
    overflow: auto;
    flex-wrap: wrap;
  }
  .genero button {
    background-color: #1c1c2bb6;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    font-size: .8rem;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    user-select: none;
  }

  @media screen and (max-width:800px){
    .info1 {
      gap: 5px;
    }
    .genero {
      width: 100%;
      min-height: fit-content;
    }
    .anime-title {
      width: 100%;
    }
  }

  .anime-description {
    color: #fff;
    font-size: .9rem;
    overflow-y: auto;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    line-clamp: 5;
}
    
  .anime-container3 {
    grid-area: container3;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    border-radius: 5px;
    padding: 1rem;
    gap: 1rem;
    background-color: #202031;
    min-height: 166px;
    height: fit-content;
    position: relative;
  }
  .header-caps {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: fit-content;
  }
  #titulo-lista-caps {
    color: #e76f51;
    font-size: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: fit-content;
    color:#e76f51;
    font-weight: bold;
  }
.search-caps {
    width: 30%;
}
#filtro-capitulo {
    width: 100%;
    padding: 5%;
    border: 1px solid #fa7171;
    border-radius: 14px;
    background-color: #262637;
    color: #ffffff;
    font-size: .8rem;
    transition: border-color 0.3s, box-shadow 0.3s;
}
#filtro-capitulo:focus {
    outline: none;
    box-shadow: 0px 0px 3px #ff5656;
}
.episodes-list {
    grid-area: episodios;
    margin:auto;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
    height: fit-content;
    max-height: 320px;
}

/* Para navegadores WebKit (Chrome, Safari) */
.episodes-list::-webkit-scrollbar, .animes-relacionados::-webkit-scrollbar {
    width: 10px;
    height: 8px;
}

.episodes-list::-webkit-scrollbar-track, .animes-relacionados::-webkit-scrollbar-track {
    background: transparent;
}

.episodes-list::-webkit-scrollbar-thumb, .animes-relacionados::-webkit-scrollbar-thumb {
    background-color: #ff565652;
    border-radius: 20px;
}

.episodes-list li {
    width: 100%;
    display: flex;
    flex:1 ;
    max-height: 80px;
    min-height: 80px;
}
.episode-btn {
  background-color: transparent;
  border:none;
  border-top: 1px solid #fa7171;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.2s;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-inline: 15px;
}

.icon-eye {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.ep-visto .icon-eye {
  filter: invert(50%) sepia(71%) saturate(653%) hue-rotate(326deg) brightness(97%) contrast(90%);
}
.ep-no-visto .icon-eye {
  filter: invert(60%)
}
@media screen and (hover:hover) {
.episode-btn:hover {
    color: #fa7171;
    opacity: .8;
}
}
#btn-search-capitulo, #btn-close-search-capitulo {
    display: none;
}
.anime-title-relacionados {
  font-size: 1.6rem;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  color:#e76f51;
  font-weight: bold;
  margin-bottom: 1rem;
}
#relacionados {
width: fit-content;
max-width: 1150px;
grid-area: container4;
flex-direction: column;
position: relative;
min-height: 261px;
}

#relacionados .animes-relacionados {
  display: flex;
  gap: 1rem;
  overflow-y: auto;
  flex-direction: row;
  overflow: auto;
  padding-bottom: 5px;
}
#relacionados .anime-card {
width: 250px;
min-width: 250px;
}
#relacionados .anime-card:hover .relation-tag {
  opacity: 0;
}
#relacionados span.relation-tag {
  position: absolute;
  color: #fff;
  font-size: 0.8rem;
  top: 13px;
  left: 12px;
  text-align: center;
}

#relacionados .anime-card div > img:first-of-type {
  height: 130px;
}


  @media screen and (max-width:700px){
    #btn-login {
      box-shadow: 0 0 0 transparent;
  }
    .anime-details {
        grid-template-columns:1fr 2fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        "container1 container2"
        "container3 container3"
        "container4 container4";
        max-height: fit-content ;
        gap: 1rem;
    }
    .anime-container1 {
        padding: 0;
        max-height: fit-content;
        width: 100%;
        background: transparent;
    }
    .anime-container1 img {
        width: 100%;
        height: auto;
    }
    .botones {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "fav"
        "estado"
        "progreso";
    }
    .anime-container2 {
        width: 100%;
        padding: 0;
        height: var(--altura-container-1);
        gap: 7px;
        justify-content: space-between;
    }
    .anime-description {
    -webkit-line-clamp: 11;
    line-clamp: 11;
    font-size: .8rem;
    line-height: 1.5;
    margin-bottom: auto;

    }
    .anime-title {
      font-size: 1.3rem;
    }
    .anime-rating {
      font-size: .8rem;
    }
    .genero button {
      font-size: .7rem;
    }
    .anime-container3 {
        width: 100%;
        max-height: 500px;
    }
    .episodes-list {
      max-height: 410px;
    }
   }
/* Ocultar botones por defecto */
#btn-search-capitulo,
#btn-close-search-capitulo {
  display: none;
}

@media screen and (max-width: 600px) {
  /* Mostrar botones en móvil */
  #btn-search-capitulo,
  #btn-close-search-capitulo {
    display: block;
  }

  .header-caps {
    position: relative;
    overflow: hidden;
  }

  /* Elementos normales */
  .header-caps span,
  #btn-search-capitulo {
    transition: transform 0.2s;
    transform: translateY(0);
  }

  /* Cuando se activa búsqueda */
  .header-caps.search-active span,
  .header-caps.search-active #btn-search-capitulo {
    transform: translateY(-100px);
  }
.header-caps {
  overflow: visible;
}
  /* Caja de búsqueda */
  .header-caps .search-caps {
    position: absolute;
    width: 100%;
    height: 130%;
    display: flex;
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    will-change: transform;
  }

  .header-caps.search-active .search-caps {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  /* Estilo botón cerrar */
  #btn-close-search-capitulo {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 10px;
  }

  #btn-close-search-capitulo::before {
    content: '✕';
    color: #e76f51;
    font-size: 1.8rem;
    font-weight: bold;
  }

  /* Input */
  #filtro-capitulo {
    flex: 1;
    padding: 13px;
  }

  /* Botón lupa */
  #btn-search-capitulo {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #btn-search-capitulo::before {
    content: url('../icons/magnifying-glass-solid.svg');
    width: 24px;
    height: 24px;
    padding-left: 3px;
    filter: invert(50%) sepia(71%) saturate(653%) hue-rotate(326deg) brightness(97%) contrast(90%);
  }
}
#menu-toggle {
    display: block;
}
.sidebar {
    position: absolute;
    top: 0;
    margin: 0;
    transform: translateX(-100%);
    left: 0;
    gap: 1rem;
    padding: 1rem;
    padding-top: 88px;
    background: transparent;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    color: #fff;
    z-index: 1000;
    height: 100%;
}
@media screen and (max-width: 600px) {
    .sidebar {
        height: 100dvh;
    }
}
.sidebar ul a {
  text-decoration: none;
  color: #fff;
}

.sidebar.active {
    transform: translateX(0);
}